.addition-list {
  @include undone-ul;
  padding-bottom: 45px;
  background-color: $white;
  color: $black;
}

.addition__item {
  padding-left: 50px;
  padding-top: 26px;
  padding-right: 20px;
}

.addition__title {
  @include font-main();
  @include undone-title();
}

.addition__description {
  @include font-description();
  @include undone-title();
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .addition-list {
    display: flex;
    justify-content: flex-start;
  }

  .addition__item {
    flex-basis: 33.333%;
    width: 33.333%;
  }
}
