.addition-list {
  @include undone-ul;
  padding: 0 20px;
  padding-top: 36px;
  background-color: $white;
  color: $black;
}

.addition__item {
  position: relative;
  padding-left: 50px;
  padding-bottom: 29px;
  padding-right: 20px;

  &:last-child {
    padding-bottom: 36px;
  }

  &--house {
    &::before {
      content: "";

      position: absolute;
      top: -10px;
      left: 2px;

      width: 37px;
      height: 36px;

      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 37px 36px;
    }
  }

  &--gift {
    &::before {
      content: "";

      position: absolute;
      top: -11px;
      left: 5px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 32px 37px;
    }
  }

  &--food {
    &::before {
      content: "";

      position: absolute;
      top: -6px;
      left: -1px;

      width: 38px;
      height: 34px;

      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 38px 34px;
    }
  }
}

.addition__title {
  @include font-main();
  @include undone-title();
  margin-bottom: 13px;
}

.addition__description {
  @include font-description();
  @include undone-title();
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .addition-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .addition__item {
    flex-basis: 33.333%;
    width: 33.333%;
    padding-top: 159px;
    padding-left: 44px;
    padding-bottom: 63px;
    padding-right: 44px;

    &:last-child {
      padding-bottom: 63px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &--house {
      &::before {
        top: 60px;
        left: 50%;
        margin-left: -37.5px;

        width: 75px;
        height: 72px;

        background-size: 75px 72px;
      }
    }

    &--gift {
      &::before {
        top: 57px;
        left: 50%;
        margin-left: -32px;

        width: 64px;
        height: 75px;

        background-size: 64px 75px;
      }
    }

    &--food {
      &::before {
        top: 62px;
        left: 50%;
        margin-left: -38px;

        width: 77px;
        height: 68px;

        background-size: 77px 68px;
      }
    }
  }

  .addition__title {
    @include font-big();
    margin-bottom: 20px;
    text-align: center;
  }

  .addition__description {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .addition__item {
    padding-right: 60px;
    padding-bottom: 83px;
    padding-left: 60px;
  }
}
