.booking-hotel {
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: $white;
  color: $black;
}

.booking-hotel__call {
  @include font-big();
  @include undone-title();
}

.booking-hotel__description {
  @include font-description();
  @include undone-title();
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .booking-hotel {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .booking-hotel {
    width: 1200px;
  }
}
