.booking-hotel {
  width: auto;
  padding-top: 27px;
  padding-right: 6.25%;
  padding-bottom: 40px;
  padding-left: 6.25%;
  background-color: $white;
  color: $black;
}

.booking-hotel__call {
  @include font-big();
  @include undone-title();
  display: block;
  margin-bottom: 18px;
  text-align: center;
}

.booking-hotel__description {
  @include font-description();
  @include undone-title();
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .booking-hotel {
    padding-top: 55px;
    padding-right: 7.81%;
    padding-bottom: 58px;
    padding-left: 7.81%;

    .button {
      width: 458px;
      margin: 0 auto;
    }
  }

  .booking-hotel__call {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .booking-hotel__description {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .booking-hotel {
    padding-bottom: 66px;
  }

  .booking-hotel__description {
    margin-bottom: 47px;
  }
}
