.button {
  @include font-big();
  display: block;
  width: 280px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  border: none;
  background-color: $blue;
}

@media (min-width: $tablet-width) {
  .button {
    width: 458px;
  }

  .review__form {
    .button {
      width: 324px;
    }
  }
}

@media (min-width: $desktop-width) {
  .review__form {
    .button {
      width: 480px;
      min-width: 480px;
    }
  }
}
