.button {
  @include font-big();
  @include button;
  width: 280px;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $white;
  }
}
