.container {
  width: 320px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
    padding: 0;
  }
}
