.copyright {
  display: flex;
  justify-content: space-between;
  width: 129px;
}

.copyright__text {
  @include font-description();
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 26px;
  color: $black;
}

.copyright__link {
  position: relative;

  width: 27px;
  height: 34px;

  svg {
    position: absolute;
    top: 0;
    right: 0;

    fill: $black;
  }

  &:hover svg,
  &:focus svg {
    fill: $blue;
  }

  &:active svg {
    fill: rgba(0, 0, 0, 0.3);
  }
}
