.features {
  width: auto;
  background-color: $white;
}

.features__header {
  padding-top: 40px;
  padding-right: 6.25%;
  padding-bottom: 5px;
  padding-left: 6.25%;
}

.similar-title {
  @include font-main();
  @include undone-title();
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  color: $black;
}

.similar-description {
  @include font-description();
  @include undone-title();
  line-height: 26px;
  text-align: center;
}

.features__list {
  @include undone-ul;
}

.features__item-group {
  padding-top: 40px;
  padding-right: 6.25%;
  padding-bottom: 40px;
  padding-left: 6.25%;

  background-color: $blue;
  color: $white;

  &--triangle {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 37px;

      background-image: url("../img/bg-triangle-tablet.svg");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: cover;
    }
  }
}

.features__item-difference {
  &:first-child {
    .features__item-group {
      padding-top: 78px;
    }
  }
}

.features__title {
  @include font-main();
  @include undone-title();
  margin-bottom: 10px;
  text-align: center;
}

.features__number {
  @include font-description();
  display: block;
  margin-bottom: 13px;
  line-height: 21px;
  text-align: center;
}

.features__description {
  @include font-description();
  @include undone-title();
  line-height: 21px;
  text-align: center;
}

.features__item-image {
  line-height: 0;
  text-align: center;
}

.features__image {
  width: 100%;
  height: 100%;
}

.features__item {
  position: relative;
  padding-top: 27px;
  padding-right: 10.94%;
  padding-bottom: 29px;
  padding-left: 10.94%;
  background-color: #eeeeee;
  color: $black;

  &--border {
    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 87.5%;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

@media (min-width: $tablet-width) {
  .features__header {
    padding-top: 50px;
    padding-right: 7.81%;
    padding-bottom: 50px;
    padding-left: 7.81%;
  }

  .similar-title {
    @include font-big;
    margin-bottom: 28px;
  }

  .features__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
  }

  .features__item-difference {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 100%;

    &:first-child {
      .features__item-group {
        padding-top: 45px;
      }
    }
  }

  .features__item-group {
    flex-basis: 33.3333%;

    max-width: 33.3333%;
    padding-top: 45px;
    padding-right: 5.86%;
    padding-bottom: 40px;
    padding-left: 5.86%;

    &--triangle {
      &::before {
        display: none;
      }
    }
  }

  .features__title {
    @include font-big;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .features__number {
    margin-bottom: 21px;
  }

  .features__item-image {
    flex-basis: 50%;
    flex-grow: 1;
    width: 50%;
  }

  .features__item-difference:nth-child(2n) {
    .features__item-image {
      order: -2;
    }
  }

  .features__image {
    max-width: 100%;
  }

  .features__item {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    padding-top: 45px;
    padding-right: 49px;
    padding-bottom: 43px;
    padding-left: 49px;

    &--border {
      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    max-width: none;
  }

  .features__item-group {
    padding-top: 52px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .features__item-difference {
    &:first-child {
      .features__item-group {
        padding-top: 52px;
      }
    }

    &:nth-child(2) {
      .features__item-group {
        padding-right: 90px;
        padding-left: 90px;
      }
    }
  }

  .features__title {
    margin-bottom: 10px;
  }

  .features__item-image {
    overflow: hidden;
  }

  .features__image {
    height: auto;
    margin-top: -72px;
    margin-bottom: -72px;
  }

  .features__item {
    padding-bottom: 65px;
  }
}
