.features {
  width: 320px;
  margin: 0 auto;
}

.features__header {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;

  background-color: $white;
}

.similar-title {
  @include font-main();
  @include undone-title();
  margin-bottom: 27px;
  text-align: center;
  color: $black;
}

.similar-description {
  @include font-description();
  @include undone-title();
  line-height: 26px;
  text-align: center;
}

.features__list {
  @include undone-ul;
}

.features__item-group {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  background-color: $blue;
  color: $white;

  &--triangle {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 320px;
      height: 37px;

      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.features__item-difference {
  &:first-child {
    .features__item-group {
      padding-top: 78px;
    }
  }
}

.features__title {
  @include font-main();
  @include undone-title();
  margin-bottom: 10px;
  text-align: center;
}

.features__number {
  @include font-description();
  display: block;
  margin-bottom: 13px;
  line-height: 21px;
  text-align: center;
}

.features__description {
  @include font-description();
  @include undone-title();
  line-height: 21px;
  text-align: center;
}

.features__image {
  display: block;
}

.features__item {
  position: relative;
  padding: 27px 35px;
  padding-bottom: 29px;
  background-color: #eeeeee;
  color: $black;

  &--border {
    &::before {
      content: "";

      position: absolute;
      top: 166px;
      left: 20px;

      width: 280px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

@media (min-width: $tablet-width) {
  .features {
    width: 768px;
    margin: 0 auto;
  }

  .features__header {
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
  }

  .similar-title {
    @include font-big;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .features__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .features__item-difference {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 100%;

    &:first-child {
      .features__item-group {
        padding-top: 45px;
      }
    }
  }

  .features__item-group {
    flex-basis: 33.3333%;

    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;

    &--triangle {
      &::before {
        display: none;
      }
    }
  }

  .features__title {
    @include font-big;
  }

  .features__number {
    margin-bottom: 21px;
  }

  .features__image {
    flex-basis: 66.6667%;
  }

  .features__item-difference:nth-child(2n) {
    picture {
      order: -2;
    }
  }

  .features__item {
    flex-basis: 33.3333%;
    width: 33.3333%;
    padding-top: 45px;
    padding-right: 49px;
    padding-bottom: 43px;
    padding-left: 49px;

    &--border {
      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1200px;
    margin: 0 auto;
  }

  .features__item-group {
    padding-top: 52px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .features__item-difference {
    overflow: hidden;

    &:first-child {
      .features__item-group {
        padding-top: 52px;
      }
    }
  }

  .features__title {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .features__image {
    margin-top: -72px;
    margin-bottom: -72px;
  }

  .features__item {
    padding-bottom: 65px;
  }
}
