.gallery-image {
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  background-color: $white;
  border-top: $border-gray;
}

.gallery-image__photo-link {
  display: block;
  line-height: 0;
}

.gallery-image__wrap {
  padding-top: 16px;
  color: $black;
}

.gallery-image__title {
  @include undone-title();
  @include font-description();
  font-weight: bold;
  line-height: 24px;
  color: $black;
}

.gallery-image__author {
  @include undone-title();
  @include font-description();
  margin-bottom: 7px;
  line-height: 24px;
  color: $black;
  text-transform: none;

  a {
    color: $black;
  }
}

.gallery-image__like {
  display: flex;
}

.gallery-image__like-btn {
  position: relative;

  display: block;
  width: 22px;
  margin-right: 15px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: #000000;
    opacity: 0.3;
  }
}

.gallery-image__like-number {
  @include undone-title();
  @include font-description();
  font-weight: bold;
  line-height: 24px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .gallery-image {
    padding: 0;
    border-top: none;
  }

  .gallery-image__wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 21px;
    padding-bottom: 16px;
    padding-left: 21px;
    background-color: $gray;
  }

  .gallery-image__author {
    margin-bottom: 0;
  }

  .gallery-image__like {
    align-self: center;
  }

  .gallery-image__like-btn {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-image__wrap {
    position: relative;
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery-image__title {
    color: $white;
  }

  .gallery-image__author {
    color: $white;

    a {
      color: $white;
    }
  }

  .gallery-image__like-btn {
    svg {
      opacity: 1;
      fill: $white;
    }
  }

  .gallery-image__like-number {
    color: $white;
  }
}
