.image {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: $border-gray;
}

.image__photo {
  display: block;
}

.image__title {
  @include undone-title();
  @include font-description();
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.image__author {
  @include undone-title();
  @include font-description();
  line-height: 24px;
  color: $black;
  text-transform: none;

  a {
    color: $black;
  }
}

.image__like-number {
  @include undone-title();
}
