.map {
   width: 320px;
  margin: 0 auto;

  iframe {
    width: 320px;
    height: 350px;
  }
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;

    iframe {
      width: 768px;
      height: 350px;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1200px;

    iframe {
      width: 1200px;
    }
  }
}
