.page-footer {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 11%;
  padding-right: 6.25%;
  padding-bottom: 8%;
  padding-left: 6.25%;
  background-color: $white;
}

.page-footer__link-hashtags {
  @include font-big();
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 35px;
  color: $black;
}

.page-footer__social {
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.52%;
    padding-right: 7.81%;
    padding-bottom: 4.82%;
    padding-left: 7.81%;
  }

  .page-footer__link-hashtags {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    justify-content: flex-start;
    padding-top: 3%;
    padding-right: 0;
    padding-bottom: 3%;
    padding-left: 0;
  }

  .page-footer__link-hashtags {
    margin-left: 133px;
    margin-right: 256px;
  }

  .page-footer__social {
    margin-right: 354px;
  }
}
