.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 56px;
  background-color: $white;
}

.page-header__logo {
  position: absolute;
  bottom: -27px;
  left: 50%;
  z-index: 1;

  display: block;
  height: 84px;
  margin-left: -51px;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }
}
