.popap-failure {
  max-width: 320px;
  padding-top: 42px;
  padding-right: 6.2%;
  padding-bottom: 25px;
  padding-left: 6.2%;
  background-color: $white;
  color: $black;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  display: none;
}

.popap-failure__title {
  @include undone-title();
  @include font-main();
  margin-bottom: 26px;
  text-align: center;
}

.popap-failure__description {
  @include undone-title();
  @include font-description();
  width: 210px;
  margin: 0 auto;
  margin-bottom: 23px;
  line-height: 24px;
  text-align: center;
}

.popap-failure__button {
  @include font-main();
  @include button();
  width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .popap-failure {
    max-width: 400px;
    padding-top: 56px;
    padding-right: 60px;
    padding-bottom: 39px;
    padding-left: 60px;
  }

  .popap-failure__title {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 40px;
  }

  .popap-failure__description {
    width: 280px;
    margin-bottom: 34px;
  }

  .popap-failure__button {
    @include font-big();
    width: 272px;
  }
}
