.popap-failure {
  width: 320px;
  height: 302px;
  padding-top: 65px;
  padding-bottom: 35px;
}

.popap-failure__title {
  @include undone-title();
  @include font-main();
  color: $black;
}

.popap-failure__description {
  @include undone-title();
  @include font-description();
  line-height: 24px;
  color: $black;
}

.popap-failure__button {
  @include font-main();
  display: block;
  width: 180px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  border: none;
  background-color: $blue;
}

@media (min-width: $tablet-width) {
  .popap-failure {
    width: 400px;
    height: 348px;
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .popap-failure__button {
    @include font-big();
    width: 272px;
  }
}
