.similar-section {
  @include undone-title();
  position: relative;
  display: block;
  width: 320px;
  height: 158px;
  margin: 0 auto;

  background-color: $blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -231px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 53px;
    left: 50%;

    width: 229px;
    height: 39px;
    margin-left: -114.5px;

    background-image: url("../../img/text-sedona.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 229px 39px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 320px;
    height: 26.111px;

    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--index {
    height: 389px;
    background-position: center 0;

    &::before {
      top: 90px;
      left: 50%;

      width: 280px;
      height: 213px;
      margin-left: -140px;

      background-image: url("../../img/text-sedona-index.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 280px 213px;
    }
  }
}

@media (min-width: $tablet-width) {
  .similar-section {
    width: 768px;
    height: 290px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -228px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::before {
      top: 95px;

      width: 458px;
      height: 78px;
      margin-left: -229px;

      background-size: 458px 78px;
    }

    &::after {
      width: 768px;
      height: 57px;

      background-image: url("../../img/bg-intro-triangle-tablet.svg");
    }

    &--index {
      height: 518px;
      background-position: center 0;

      &::before {
        top: 77px;

        width: 460px;
        height: 350px;
        margin-left: -230px;

        background-size: 460px 350px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .similar-section {
    width: 1200px;
    height: 301px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -217px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      top: 103px;
    }

    &::after {
      width: 1200px;
      height: 57px;

      background-image: url("../../img/bg-intro-triangle-desktop.svg");
    }

    &--index {
      height: 518px;
      background-position: center 0;

      &::before {
        top: 79px;
      }
    }
  }
}
