.similar-section {
  @include undone-title();
  position: relative;
  display: block;
  width: 320px;
  height: 158px;
  margin: 0 auto;

  &--index {
    height: 389px;
  }

  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 320px;
    height: 26.111px;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.similar-section__text {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .similar-section {
    width: 768px;
    height: 290px;

    &--index {
      height: 518px;
    }

    &::before {
      display: none;
    }
  }

  .similar-section__text {
    padding-top: 95px;

    &--index {
      padding-top: 77px;
    }
  }
}

@media (min-width: $desktop-width) {
  .similar-section {
    width: 1200px;
    height: 301px;

    &--index {
      height: 518px;
    }
  }

  .similar-section__text {
    padding-top: 103px;

    &--index {
      padding-top: 77px;
    }
  }
}
