.social {
  width: 150px;
  background-color: $white;
}

.social__list {
  display: flex;
  justify-content: space-between;
  @include undone-ul();
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $blue;
}
