.video {
  padding-bottom: 40px;
  background-color: $white;
  border-top: $border-gray;
}

.video__header {
  padding-top: 33px;
  padding-right: 6.25%;
  padding-bottom: 35px;
  padding-left: 6.25%;

  .similar-title {
    margin-bottom: 26px;
  }

  .similar-description {
    max-width: 415px;
    margin: 0 auto;
    line-height: 24px;
  }
}

.video__presentation {
  max-width: 320px;
  margin: 0 auto;
}

.video__show {
  display: block;
  max-width: 320px;
  height: 201px;

  background-color: #e6e9ed;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.video__control {
  @include undone-ul;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -45px;
  padding-right: 20px;
  padding-left: 20px;
}

.video__button {
  position: relative;

  display: block;
  padding: 0;

  border: none;
  cursor: pointer;
}

.video__wrap-range {
  flex-basis: 100%;
  order: -1;
  width: 100%;
  height: 45px;
  padding-top: 22px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video__button--range {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 36px;

    width: 9px;
    height: 9px;
    background-color: $white;
    border-radius: 50%;

    cursor: pointer;
  }
}

.video__wrap-replay {
  flex-grow: 1;
  width: 70px;
  height: 66px;
  padding-top: 22px;
  padding-left: 25px;
  background-color: $gray;
}

.video__button--replay {
  width: 16px;
  height: 20px;
  background-color: transparent;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: #5c6870;
  }

  &:hover svg,
  &:focus svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.video__wrap-subtitles {
  width: 70px;
  height: 66px;
  padding-top: 23px;
  padding-left: 34px;
  background-color: $gray;
}

.video__button--subtitles {
  width: 32px;
  height: 20px;
  background-color: transparent;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: #5c6870;
  }

  &:hover svg,
  &:focus svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.video__wrap-fullscreen {
  width: 70px;
  height: 66px;
  padding-top: 23px;
  padding-left: 27px;
  background-color: $gray;
}

.video__button--fullscreen {
  width: 20px;
  height: 20px;
  background-color: transparent;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: #5c6870;
  }

  &:hover svg,
  &:focus svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video {
    border-top: none;
    padding-right: 7.81%;
    padding-left: 7.81%;
  }

  .video__header {
    padding: 0;
    padding-top: 67px;
    padding-bottom: 74px;

    .similar-title {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  .video__presentation {
    min-width: 648px;
  }

  .video__show {
    max-width: 648px;
    height: 499px;

    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .video__control {
    flex-basis: 100%;
    width: 100%;
    margin-top: -93px;
    padding: 0;
  }

  .video__wrap-range {
    flex-basis: 61%;
    order: 0;
    width: 61%;
    height: 93px;
    padding-top: 45px;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 0;
  }

  .video__button--range {
    &::before {
      left: 110px;
    }
  }

  .video__wrap-replay {
    flex-basis: 14%;
    flex-grow: 0;
    height: 93px;
    width: 14%;
    padding-top: 35px;
    padding-left: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .video__button--replay {
    svg {
      fill: $white;
    }
  }

  .video__wrap-subtitles {
    flex-basis: 11%;
    width: 11%;
    height: 93px;
    padding-top: 35px;
    padding-left: 38px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .video__button--subtitles {
    svg {
      fill: $white;
    }
  }

  .video__wrap-fullscreen {
    flex-basis: 14%;
    width: 14%;
    height: 93px;
    padding-top: 35px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .video__button--fullscreen {
    svg {
      fill: $white;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-right: 16.67%;
    padding-bottom: 80px;
    padding-left: 16.67%;
  }

  .video__header {
    padding-top: 70px;
    padding-bottom: 72px;
  }

  .video__presentation {
    min-width: 800px;
  }

  .video__show {
    max-width: 800px;
    height: 500px;

    background-image: url("../img/video-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }

  .video__wrap-range {
    flex-basis: 68%;
    width: 68%;
  }

  .video__wrap-replay {
    flex-basis: 11%;
    width: 11%;
  }

  .video__wrap-subtitles {
    flex-basis: 10%;
    width: 10%;
    padding-left: 42px;
  }

  .video__wrap-fullscreen {
    flex-basis: 11%;
    width: 11%;
    padding-left: 25px;
  }
}
