@mixin undone-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin undone-title() {
  margin: 0;
  padding: 0;
}

@mixin font-big() {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin font-main() {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin font-nav() {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin font-description() {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin button() {
  display: block;
  height: 58px;
  padding: 0;
  line-height: 58px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  border: none;
  background-color: $blue;
  cursor: pointer;
}
