@import "normalize.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "blocks/container.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/similar-section.scss";
@import "blocks/features.scss";
@import "blocks/addition-list.scss";
@import "blocks/booking-hotel.scss";
@import "blocks/map.scss";
@import "blocks/button.scss";
@import "blocks/gallery.scss";
@import "blocks/gallery-image";
@import "blocks/video";
@import "blocks/review.scss";
@import "blocks/popap-failure.scss";
@import "blocks/popap-success.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
