//Размеры устройств
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Цвет
$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$gray: #f2f2f2;
$dark-gray: #e6e6e6;

//Рамка
$border-gray: 1px solid #e5e5e5;
