//Размеры устройств
$tablet-width: 768px;
$desktop-width: 1200px;

//Цвет
$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$gray: #f2f2f2;
$dark-gray: #e6e6e6;

//Рамка
$border-gray: 1px solid #d6d6d6;
